[submodule "fpga"]
	path = fpga
	url = https://github.com/menotti/fpga.git
[submodule "ld"]
	path = ld
	url = git@github.com:menotti/ld.git
[submodule "aoc"]
	path = aoc
	url = git@github.com:menotti/aoc.git
[submodule "mm"]
	path = mm
	url = git@github.com:menotti/mm.git
